* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
    
      
}



body {
    background-image: url(./abstract-fantasy-space-scene-with-planet-2025-01-09-05-21-07-utc.jpg);
    background-size: cover;  /* Faz a imagem cobrir todo o body */
    background-repeat: no-repeat;
    background-position: center center; /* Centraliza a imagem */
    overflow-x: hidden; /* Evita rolagem lateral */

    
}

.black {
    background-color: rgba(0, 0, 0, 0.626);
}


.container {
    max-width: 1280px;
    margin: 0 auto;
    padding-inline: 60px;
 }

