
 .projects-section {
   
 }
 
 
 .carousel {
     display: flex;
     overflow-x: auto;
     justify-content: center;
     gap: 20px;
     scroll-snap-type: x mandatory;
     padding: 40px 0;
     width: 100%;
     white-space: nowrap;
     padding-inline: 20px;
     
 }

 .card {
     width: 250px;
     height: 380px;
     perspective: 1000px;
     cursor: pointer;
     scroll-snap-align: center;
 }

 /*card futurista*/
 .card-front{
position: absolute;
width: 100%;
height: 100%;
backface-visibility: hidden;
border-radius: 15px;
box-shadow: 0px 0px 10px rgba(210, 210, 211, 0.801);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
background: rgba(246, 246, 246, 0.041);
backdrop-filter: blur(15px);
overflow: hidden;
transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}


.card-front:hover {

transform: scale(1.05);
}

 .card-front img {
     width: 90%;
     height: 70%;
     object-fit: cover;
     border-radius: 10px 10px ;
    margin: 10px;
 }



/*BUTTON*/
.card-front a {
position: relative;
padding: 5px 10px;
border: none;
color: rgb(255, 255, 255);
text-transform: uppercase;
letter-spacing: 1.5px;
border-radius: 8px;
cursor: pointer;
text-decoration: none;
box-shadow: 0 4px 10px rgb(248, 248, 248);
transition: all 0.3s ease-in-out;
overflow: hidden;
display: inline-block;
text-align: center;
z-index: 1;
margin-bottom: 10px;
}
/*BUTTON*/


    
    /* Efeito de brilho ao passar o mouse */
    .card-front:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    box-shadow: 0 10px 50px rgba(255, 255, 255, 0.945);
    transform: skewX(-30deg);
    transition: left 0.5s ease-in-out;
    z-index: -1;
    border-radius: 100px;
    filter: blur(50px);
    }
    
    .card-front:hover::before {
    left: 100%;
    }
    
    .card-front:hover {
    box-shadow: 0 6px 15px rgb(255, 255, 255);
    transform: scale(1.05);
    }
    
    

