/* Ícones interativos */
.dev-icons {
  display: flex;
  gap: 1rem;
  position: relative;
  z-index: 10; /* acima das partículas */
  transform: translateY(1rem);
 
}

.dev-icons > div {

  background: #ffffff1a;
   border: solid 2px #ffffff1a;
  color: white;
  border-radius: 8px;
  
  transition: transform 0.3s, border 0.3s;
}

.dev-icons > div.active {
  border: solid 2px white;
  animation: move 2s infinite alternate cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: center;
}

@keyframes move {
  0% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0); }
}

body {

}

.bg-animation-div {
  position: absolute;
  border-radius: 50%;
 
  mix-blend-mode: screen;
  opacity: 0.3;
  width: 1rem;
  height: 1rem;
}


@keyframes float-up {
  0% { transform: translate(0, 100vh) rotate(0deg); opacity: 0; }
  50% { transform: translate(30px, -50vh) rotate(180deg); opacity: 0.8; }
  100% { transform: translate(-30px, -110vh) rotate(360deg); opacity: 0; }
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



