@media (max-width: 1024px) {

  main {
    padding-inline: 1rem;
  }
  .portfolio-section-1 {
    margin-top: 4rem;
  }

   .header-main {
        padding-inline: 1rem;
 }



  .projects {
    padding: 0;
  }





  body {
    overflow-x: hidden; /* previne scroll lateral */
  }




}




@media (max-width: 768px) {
  .projects {
    height: 100%;
    padding-block: 1rem;
  }

  .projects-container {
    overflow-x: auto;
    overflow-y: hidden;
    background-image: url(../assets/img/background-03.png);
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    padding: 2rem .5rem;
  }

  .avatar {
    width: 10rem;
    height: 10rem;
  }

  .footer {
  
  }

  .services {
    width: 100%;
    height: max-content;
    
  }

  .card-container {
    padding: 1rem;
  }

  .max-width {
   
    padding-inline: 1rem;
}

.about div {
  margin-top: 5rem;
    display: flex !important;
    flex-direction: column-reverse;

    & p:nth-child(1) {
    margin-top: 0;
    padding: 0;
   }

     & p:nth-child(2) {
    padding: 0;
    
   }
  }

   
}
