@media (max-width: 1024px) {
  .portfolio-section-1 {
    margin-top: 4rem;
  }

  main {
    padding-inline: 2rem;
  }


  .projects {
    padding: 0;
  }





  body {
    overflow-x: hidden; /* previne scroll lateral */
  }
}




@media (max-width: 768px) {
  .projects {
    height: 100%;
    padding-block: 1rem;
  }

  .projects-container {
    overflow-x: auto;
    overflow-y: hidden;
    background-image: url(../assets/img/background-03.png);
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    padding: 2rem .5rem;
  }

  .avatar {
    width: 10rem;
    height: 10rem;
  }

  .footer {
    height: 33rem;
  }

  .services {
    width: 100%;
    height: max-content;
  }

  .card-container {
    padding: 1rem;
  }
}
